@font-face {
    font-family: Founder;
    src: url(FoundersGroteskCondensed-Bold.ttf);
}

@font-face {
    font-family: CardinalR;
    src: url(cardinalfruitweb-regular.ttf);
}

@font-face {
    font-family: Cardinali;
    src: url(cardinalfruitweb-italic.ttf);
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

.main_first{
    width: 100%;
    height: 100%;
    background-color: gray;

}
.main_second{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

#top{
    position: absolute;
    top: -10%;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-color: rgb(219, 219, 219);
}

#top h1{
    font-size: 220px;
    font-family: Founder;
    font-weight: 800;

    /* text-align: center; */
    position: absolute;
    top: 260px;
    left: 250px;
}


#center{
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 0, 0);
}


#bottom{
    position: absolute;
    bottom: 0;
   
    width: 100%;
    height: 50vh;
    background-color: rgb(119, 119, 119);
    overflow: hidden;
}

#bottom h1{
    position: absolute;
    top: -100px;
    left: 250px;
    font-size: 220px;
    font-family: Founder;
    font-weight: 800;
    text-align: center !important;
}
